<a href="https://colab.research.google.com/github/NIMZ-tech/Makaan.com-Web-Scraping.ipynb/blob/main/Makaan_com_WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import all packages

import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
from IPython.display import clear_output

In [2]:
base_url='https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page='


owner_info=[]
no_of_bhk=[]
price_info=[]
loca_info=[]
cons_status=[]
pr_sq_info=[]
area_info=[]


for i in range(1,51):
  time.sleep(3)
  url=base_url+str(i)+'&_=1624455000063'
  req=requests.get(url)
  soup=BeautifulSoup(req.text,'html')



  # owner information
  own_in=soup.findAll('span',attrs={'class':'seller-type'})
  for j in own_in:
    owner_info.append(j.text)



  # BHK information 
  b_info=soup.findAll('div',attrs={'class':'title-line'}) #bhk
  for k in b_info:
    no_of_bhk.append(k.strong.span.text)


  # price information
  p_in=soup.findAll('div',attrs={'data-type':'price-link'})  
  for l in p_in:
    price_info.append(l.text)


  # Locality Information
  loca_in=soup.findAll('span',attrs={'itemprop':'addressLocality'})  
  for h in loca_in:
    loca_info.append(h.text)


  # Construction Status
  con_sta=soup.findAll('td',attrs={'class':'val'}) 
  for r in con_sta:
    cons_status.append(r.text) 


  # price/sq information
  pr_per_sq=soup.findAll('td',attrs={'class':'lbl rate'}) 
  for z in pr_per_sq:
    pr_sq_info.append(z.text) 


  # Area information
  area_in=soup.findAll('td',attrs={'class':'size'}) 
  for n in area_in:
    area_info.append(n.text)

In [3]:
# Converting to Dat

In [4]:
data=pd.DataFrame({'owner_info':owner_info,'BHK_info':no_of_bhk,'price_info':price_info,'locality_info':loca_info,'con_sta':cons_status,'pri_in':pr_sq_info,'Area_inf':area_info})
data

    owner_info          BHK_info  ...         pri_in Area_inf
0      BUILDER                3   ...  5,699 / sq ft    2810
1      BUILDER                2   ...  9,565 / sq ft    1495
2      BUILDER                2   ...  4,400 / sq ft    1295
3      BUILDER                2   ...  4,899 / sq ft     890
4      BUILDER                3   ...  4,600 / sq ft    1431
..         ...               ...  ...            ...      ...
995      OWNER  Residential Plot  ...    777 / sq ft    2403
996      OWNER                2   ...  4,100 / sq ft    1195
997      OWNER                2   ...  5,153 / sq ft    1300
998      OWNER                2   ...  5,714 / sq ft    1050
999      OWNER  Residential Plot  ...    388 / sq ft     900

[1000 rows x 7 columns]

In [5]:
data.to_csv('Apartment.csv',index=False)